
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>BlogListExcel</h1>
<a href="/Admin/Blog/ExportStaticExcelBlogList" class="btn btn-primary">Excel Listesini indir</a>

